<!DOCTYPE html>
<meta charset="utf-8">
{% load static %}
<link href="{% static 'main.css' %}" rel="stylesheet">
<title>Visconti</title>
<script type="module" src="{% static 'main.js' %}"></script>
<body>
    <form>
        <input type="hidden" value="{{hostIP}}" id="hostIP">
        <input type="hidden" value="{{isHost}}" id="isHost">
    </form>
    <form> {% csrf_token %}
        <label>Username:<input id="username" name="username" maxlength="100" required></label>
        <button id="join">Join</button>
    </form>
    {% if isHost %}
    <form> {% csrf_token %}
        <button id="start" disabled>Start Match</button>
    </form>
    <p>
        Hosting match, others can play at http://{{hostIP}}:8000/join/
    </p>
    {% else %}
    <p>
        Playing in match, do not refresh the page.
    </p>
    {% endif %}
    <div id="main-divider">
        <div id="left-side">
            <div id="main-board">
                <div id="status-bar">
                    <h1>Day: <span id="day-counter"></span></h1> 
                    <h1>Phase: <span id="phase-display"></span></h1>
                </div>

                <div id="bid-view" class="hide">
                    <h2>Bids:<h2>
                    <div id="bid-boxes">

                    </div>
                </div>
                <div id="choose-display" class="hide">
                    <span class="player-name"></span> is choosing lots.
                </div>
                <div id="choose-form" class="hide">
                    Choose lots to bid on
                    <form>
                        <button id="draw">Draw Lot</button>
                        <button id="start-bid">Start Bidding</button>
                    </form>
                </div>
                <h1 id="winner" class="hide"></h1>
                
                <div id="deck-status">
                    <h2>Lots in deck: <span id="deck-counter"></span></h2>
                    <h2>Lots in group:</h2>
                    <div class="lot-container">

                    </div>
                </div>
            </div>
            <div id="pyramids">
                <table class="cloth">
                    <tbody>
                        <tr><th class="money">20</th> <td></td></tr>
                        <tr><th class="money">10</th> <td></td></tr>
                        <tr><th class="money">5</th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                    </tbody>
                </table>
                <table class="dye">
                    <tbody>
                        <tr><th class="money">20</th> <td></td></tr>
                        <tr><th class="money">10</th> <td></td></tr>
                        <tr><th class="money">5</th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                    </tbody>
                </table>
                <table class="furs">
                    <tbody>
                        <tr><th class="money">20</th> <td></td></tr>
                        <tr><th class="money">10</th> <td></td></tr>
                        <tr><th class="money">5</th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                    </tbody>
                </table>
                <table class="grain">
                    <tbody>
                        <tr><th class="money">20</th> <td></td></tr>
                        <tr><th class="money">10</th> <td></td></tr>
                        <tr><th class="money">5</th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                    </tbody>
                </table>
                <table class="spice">
                    <tbody>
                        <tr><th class="money">20</th> <td></td></tr>
                        <tr><th class="money">10</th> <td></td></tr>
                        <tr><th class="money">5</th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                    </tbody>
                </table>
            </div>
            <div id="rules">
                <h2>Scoring Rules:</h2>
                <p>
                    All scoring is evaluated at the end of the day. In the event of a tie when ranking players, players add the rewards and divide reward 
                    money evenly, rounding down (for example: if 1st awards <span class="money">10</span>, second awards <span class="money">5</span>, 
                    third awards <span class="money">1</span>, and Al and Bo tie for first, then Al and Bo
                    each get <span class="money">7</span> (<code>(5 + 10) / 2</code>), and whoever got third gets <span class="money">1</span>.)
                </p>
                <p>
                    Each lot is marked with its numeric value. Players are ranked by the combined value of their lots. Money is awarded to players by
                    their rank relative to other players (You could have a high-value ship of lots and still gain no money because everyone else had yet higher values).
                </p>
                <p>
                    The table below indicates how much money is awarded based on rank:
                </p>
                <table id="three-rank" class="hide">
                    <tbody>
                        <tr><th>1st:</th><td>30</td></tr>
                        <tr><th>2nd:</th><td>15</td></tr>
                        <tr><th>3rd:</th><td>0</td></tr>
                    </tbody>
                </table>
                <table id="four-rank" class="hide">
                    <tbody>
                        <tr><th>1st:</th><td>30</td></tr>
                        <tr><th>2nd:</th><td>20</td></tr>
                        <tr><th>3rd:</th><td>10</td></tr>
                        <tr><th>4th:</th><td>0</td></tr>
                    </tbody>
                </table>
                <table id="five-rank" class="hide">
                    <tbody>
                        <tr><th>1st:</th><td>30</td></tr>
                        <tr><th>2nd:</th><td>20</td></tr>
                        <tr><th>3rd:</th><td>10</td></tr>
                        <tr><th>4th:</th><td>5</td></tr>
                        <tr><th>5th:</th><td>0</td></tr>
                    </tbody>
                </table>
                <table id="six-rank" class="hide">
                    <tbody>
                        <tr><th>1st:</th><td>30</td></tr>
                        <tr><th>2nd:</th><td>20</td></tr>
                        <tr><th>3rd:</th><td>15</td></tr>
                        <tr><th>4th:</th><td>10</td></tr>
                        <tr><th>5th:</th><td>5</td></tr>
                        <tr><th>6th:</th><td>0</td></tr>
                    </tbody>
                </table>
                <p>
                    Players are then awarded additional points based on their investment in particular goods. When the day ends, players move up one level per lot 
                    matching the color of a given investment table (note that gold doesn't match any investment table).

                    The player at the highest level in the investment table for a good gets <span class="money">10</span>, and the second highest gets 
                    <span class="money">5</span>, no matter how low they are in the table.
                </p>
                <p>
                    Seperately, all players in one of the top 3 levels of an investment table get money equal to the number marking that level.
                    This reward is given every day, even if a player previously claimed the reward for that level.
                </p>
            </div>
        </div>
        <div id="players">
            
        </div>
    </div>
    <div class="hide">
        <div id="prefab-lot" class="lot">
            0
        </div>

        <div id="prefab-bid-box" class="bid-box">
            <span class="player-name"></span> <span class="bid money"></span>
        </div>

        <div id="prefab-bid-form" class="bid-form">
            <form> {% csrf_token %}
                <label>Bid:<input class="bid-input" type="number" min="1" step="1" required></label>
                <button class="bid-button">Place Bid</button>
                <button class="pass-button">Pass</button>
            </form>
        </div>

        <div id="prefab-player-box" class="player-box">
            <h2><span class="player-name"></span>: <span class="player-money"></span></h2>
            <div class="lot-container"></div>
        </div>
    </div>
</body>