<!DOCTYPE html>
<meta charset="utf-8">
{% load static %}
<link href="{% static 'main.css' %}" rel="stylesheet">
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
<title>Visconti</title>
<script type="module" src="{% static 'main.js' %}"></script>
<body>
    <form>
        <input type="hidden" value="{{hostIP}}" id="hostIP">
        <input type="hidden" value="{{isHost}}" id="isHost">
    </form>
    <form> {% csrf_token %}
        <label>Username:<input id="username" name="username" maxlength="100" required></label>
        <button id="join">Join</button>
    </form>
    {% if isHost %}
    <form> {% csrf_token %}
        <button id="start" disabled>Start Match</button>
    </form>
    <form id="ai-form"> {% csrf_token %}
        <select name="ai" id="ai-dropdown">
            {% for ai, junk in aiDictionary.items %}
                <option value="{{ai}}">{{ai}}</option>
            {% endfor %}
        </select>
        <button id="add-ai" type="button">Add Selected AI</button>
    </form>
    <p>
        Hosting match, others can play at http://{{hostIP}}:8000/join/
    </p>
    {% else %}
    <p>
        Playing in match, do not refresh the page.
    </p>
    {% endif %}
    <div id="main-divider">
        <div id="left-side">
            <div id="main-board">
                <div id="status-bar">
                    <h1>Day: <span id="day-counter"></span></h1> 
                    <h1>Phase: <span id="phase-display"></span></h1>
                </div>

                <div id="bid-view" class="hide">
                    <canvas></canvas>
                    <h2>Bids:<h2>
                    <div id="bid-boxes">

                    </div>
                </div>
                <div id="choose-display" class="hide">
                    <h1><span class="player-name"></span> is choosing lots.</h1>
                </div>
                <div id="choose-form" class="hide">
                    <h2>Choose lots to bid on</h2>
                    <form class="active">
                        <button id="draw">Draw Lot</button>
                        <button id="start-bid">Start Bidding</button>
                    </form>
                </div>
                <h1 id="winner" class="hide"></h1>
                <div id="waiting-form" class="hide">
                    <h1 id="waiting-list"></h1>
                    <form>
                        <button id="ready-button">Ready For Next Day</button>
                    </form>
                    <div id="player-stat-area">

                    </div>
                </div>
                
                <div id="deck-status">
                    <h2>Lots in deck: <span id="deck-counter"></span></h2>
                    <h2>Lots in group:</h2>
                    <div class="lot-container">

                    </div>
                </div>
            </div>
            <div id="pyramids">
                <table class="cloth">
                    <thead><tr><th colspan="2" class="table-title">Cloth</th></tr></thead>
                    <tbody>
                        <tr><th class="money">20</th> <td></td></tr>
                        <tr><th class="money">10</th> <td></td></tr>
                        <tr><th class="money">5</th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                    </tbody>
                </table>
                <table class="dye">
                    <thead><tr><th colspan="2" class="table-title">Dye</th></tr></thead>
                    <tbody>
                        <tr><th class="money">20</th> <td></td></tr>
                        <tr><th class="money">10</th> <td></td></tr>
                        <tr><th class="money">5</th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                    </tbody>
                </table>
                <table class="furs">
                    <thead><tr><th colspan="2" class="table-title">Furs</th></tr></thead>
                    <tbody>
                        <tr><th class="money">20</th> <td></td></tr>
                        <tr><th class="money">10</th> <td></td></tr>
                        <tr><th class="money">5</th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                    </tbody>
                </table>
                <table class="grain">
                    <thead><tr><th colspan="2" class="table-title">Grain</th></tr></thead>
                    <tbody>
                        <tr><th class="money">20</th> <td></td></tr>
                        <tr><th class="money">10</th> <td></td></tr>
                        <tr><th class="money">5</th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                    </tbody>
                </table>
                <table class="spice">
                    <thead><tr><th colspan="2" class="table-title">Spice</th></tr></thead>
                    <tbody>
                        <tr><th class="money">20</th> <td></td></tr>
                        <tr><th class="money">10</th> <td></td></tr>
                        <tr><th class="money">5</th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                        <tr><th></th> <td></td></tr>
                    </tbody>
                </table>
            </div>
            <div id="bottom-info">
                <div id="rules">
                    <h2>Scoring Reference:</h2>
                    <p>
                        All scoring is evaluated at the end of the day. In the event of a tie when ranking players, players add the rewards and divide reward 
                        money evenly, rounding down (for example: if 1st awards <span class="money">10</span>, second awards <span class="money">5</span>, 
                        third awards <span class="money">1</span>, and Al and Bo tie for first, then Al and Bo
                        each get <span class="money">7</span> (<code>(5 + 10) / 2</code>), and whoever got third gets <span class="money">1</span>.)
                    </p>
                    <p>
                        Each lot is marked with its numeric quality. Players are ranked by the combined quality of their lots. Money is awarded to players by
                        their rank relative to other players (You could have a high-quality ship of lots and still gain no money because everyone else had yet higher qualities).
                    </p>
                    <p>
                        The table below indicates how much money is awarded based on quality rank:
                    </p>
                    <table id="three-rank" class="hide">
                        <tbody>
                            <tr><th>1st:</th><td>30</td></tr>
                            <tr><th>2nd:</th><td>15</td></tr>
                            <tr><th>3rd:</th><td>0</td></tr>
                        </tbody>
                    </table>
                    <table id="four-rank" class="hide">
                        <tbody>
                            <tr><th>1st:</th><td>30</td></tr>
                            <tr><th>2nd:</th><td>20</td></tr>
                            <tr><th>3rd:</th><td>10</td></tr>
                            <tr><th>4th:</th><td>0</td></tr>
                        </tbody>
                    </table>
                    <table id="five-rank" class="hide">
                        <tbody>
                            <tr><th>1st:</th><td>30</td></tr>
                            <tr><th>2nd:</th><td>20</td></tr>
                            <tr><th>3rd:</th><td>10</td></tr>
                            <tr><th>4th:</th><td>5</td></tr>
                            <tr><th>5th:</th><td>0</td></tr>
                        </tbody>
                    </table>
                    <table id="six-rank" class="hide">
                        <tbody>
                            <tr><th>1st:</th><td>30</td></tr>
                            <tr><th>2nd:</th><td>20</td></tr>
                            <tr><th>3rd:</th><td>15</td></tr>
                            <tr><th>4th:</th><td>10</td></tr>
                            <tr><th>5th:</th><td>5</td></tr>
                            <tr><th>6th:</th><td>0</td></tr>
                        </tbody>
                    </table>
                    <p>
                        Players are then awarded additional points based on their investment in particular goods. When the day ends, players move up one level per lot 
                        matching the color of a given investment table (note that gold doesn't match any investment table).

                        The player at the highest level in the investment table for a good gets <span class="money">10</span>, and the second highest gets 
                        <span class="money">5</span>, no matter how low they are in the table.
                    </p>
                    <p>
                        Separately, all players in one of the top 3 levels of an investment table get money equal to the number marking that level.
                        This reward is given every day, even if a player previously claimed the reward for that level.
                    </p>
                </div>
                <div id="log-area">
                    Connecting ...
                </div>
            </div>
            <div>
                <h1>Full Rules</h1>
                <p>
                    In Visconti, players compete as the buyers for various merchant houses. During each day of play, players bid on goods brought into the harbor. Each player is paid in florins
                    for their haul of goods at the end of each day, and the player with the most wealth by the end of the last day wins.
                </p>
                <h2>Joining the Game</h2>
                <p>
                    To join the game, enter a unique username into the box in the top left, and click "join". If your username is accepted you should see your ship appear on the right soon after.
                </p>
                <h2>Playing the Game</h2>
                <p>
                    Each day occurs in phases. A player will choose lots from the deck to be auctioned, and then players will bid on those lots. This is repeated until the deck is empty
                    or all players have full ships. Players are then paid for their haul, ships are emptied, and the next day begins.
                </p>
                <h3>Choosing</h3>
                <p>
                    At the start of each day, a random chooser is selected among players with the least florins. This player can draw up to 3 lots to create a group for players to bid on.
                    The chooser cannot create a group no one can bid on, though they can create a group they themselves cannot bid on. A player cannot choose lots if their ship is full. 
                    Once lots have been drawn to make the group, players begin bidding.
                    After bidding concludes, choosing continues and a new chooser is picked.
                </p>
                <h3>Bidding</h3>
                <p>
                    Players bid on the current group of lots in order, left to right in the bidding menu, ending with the chooser. 
                    Each player either raises the bid or passes, after all players have bid or passed the group is given to the player who bid the highest. If everyone passed, the group is 
                    tossed into the harbor.
                    Players may only bid on the group if their ship has room to hold all lots in the group; ships have 5 slots. So, for example, a player which currently has 3 lots in their ship
                    cannot bid on a group of 3.
                </p>
                <h3>Ending the Day</h3>
                <p>
                    The day ends either when the deck is out of lots or only a single player remains without a full ship. In the latter case, that player fills their ship with lots from 
                    the top of the deck for free. Players are then rewarded based on the rules described in the <a href="#rules">Scoring Reference</a> above. After scoring, ships are emptied additional
                    the next day begins.
                </p>
                <h3>Important Notes</h3>
                <p>
                    At the start of each day, the deck is shuffled and thinned based on the number of players. In the full deck, there is a single gold lot with quality 10, and lots with
                    quality 0, 1, 2, 3, 4, 5, and another 5 for each good (the average quality of a lot is approximately 4.5). This totals to 36 lots. 
                    The deck is thinned before choosing each day, with more lots being removed the fewer players there are. This means not every lot will be available each day.
                </p>
            </div>
        </div>
        <div id="players">
            
        </div>
    </div>
    <div class="hide">
        <div id="prefab-lot" class="lot">
            <span>0</span>
            <div class="sheen-bar"></div>
        </div>

        <div id="prefab-bid-box" class="bid-box">
            <span class="player-name"></span> <span class="bid money"></span>
        </div>

        <div id="prefab-bid-form" class="bid-form">
            <form> {% csrf_token %}
                <label>Bid:<input class="bid-input" type="number" min="1" step="1" required></label>
                <button class="bid-button">Place Bid</button>
                <button class="pass-button">Pass</button>
            </form>
        </div>

        <div id="prefab-player-box" class="player-box">
            <h2><span class="player-name"></span>: <span class="player-money"></span> <span class="delta-money"></span></h2>
            <div class="lot-container"></div>
            <span class="value-display"></span>
        </div>

        <table id="prefab-player-stats" class="player-stats">
            <thead><tr></tr></thead>
            <tbody>
            </tbody>
            <tfoot><tr></tr></tfoot>
        </table>
    </div>
</body>