button {
    border-width: 1px 0.4rem 0.4rem 1px;
    border-color: white;
    border-radius: 0.6rem;
}

.wiggle {
    animation: wiggle 4s alternate infinite;
    animation-timing-function: ease-in-out;
}

@keyframes wiggle {
    0% {
        transform: translate(0px, 5%) rotate(0deg);
    }
    100% {
        transform: translate(0px, -5%) rotate(0deg);
    }
}

/* .in-progress:after {
    animation: dot 4s linear infinite forwards;
    display: inline-block;
}

@keyframes dot {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
    100% {
        content: "...";
    }
} */